.body{
    padding: 0px;
    margin: 0px;
}

#contador1{
    font-size: 2em;
}

.container2 {
    
    margin-top: 50px;
    border-style: solid;
    border-radius: 30px;
    display: inline-block; /* Cambiado a inline-block */
    padding: 10px; /* Eliminar padding para ajustar el borde */
}


#imagen2{
    width: 200px;
    
    
}

#imagen3{
    margin-top: 20px;
    width: 120px;
}
#imagen1:hover{
    cursor: pointer;
    opacity: 0.9;;
}

#imagen1:active{
    transform: scale(1.02);
}